In [11]:
import csv
import pandas as pd

In [12]:
data = pd.read_csv('data/201801-citibike-tripdata.csv')

In [13]:
data.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,970,2018-01-01 13:50:57.4340,2018-01-01 14:07:08.1860,72,W 52 St & 11 Ave,40.767272,-73.993929,505,6 Ave & W 33 St,40.749013,-73.988484,31956,Subscriber,1992,1
1,723,2018-01-01 15:33:30.1820,2018-01-01 15:45:33.3410,72,W 52 St & 11 Ave,40.767272,-73.993929,3255,8 Ave & W 31 St,40.750585,-73.994685,32536,Subscriber,1969,1
2,496,2018-01-01 15:39:18.3370,2018-01-01 15:47:35.1720,72,W 52 St & 11 Ave,40.767272,-73.993929,525,W 34 St & 11 Ave,40.755942,-74.002116,16069,Subscriber,1956,1
3,306,2018-01-01 15:40:13.3720,2018-01-01 15:45:20.1910,72,W 52 St & 11 Ave,40.767272,-73.993929,447,8 Ave & W 52 St,40.763707,-73.985162,31781,Subscriber,1974,1
4,306,2018-01-01 18:14:51.5680,2018-01-01 18:19:57.6420,72,W 52 St & 11 Ave,40.767272,-73.993929,3356,Amsterdam Ave & W 66 St,40.774667,-73.984706,30319,Subscriber,1992,1

In [14]:
tripduration = data.groupby(['birth year'], as_index=False)['tripduration'].mean()
# tripduration = data.groupby('birth year')['tripduration'].mean()
tripduration.head()

   birth year  tripduration
0        1885    666.969697
1        1886   1265.000000
2        1887    784.132075
3        1894    752.909091
4        1899   1414.200000

In [15]:
tripduration.to_csv('avgtripduration.csv')

In [16]:
data2 = pd.read_csv('data/201802-citibike-tripdata.csv')

In [17]:
data2.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,771,2018-02-01 00:14:16.4120,2018-02-01 00:27:08.2290,72,W 52 St & 11 Ave,40.767272,-73.993929,379,W 31 St & 7 Ave,40.749156,-73.991600,14536,Subscriber,1952,1
1,264,2018-02-01 05:14:45.1790,2018-02-01 05:19:09.6860,72,W 52 St & 11 Ave,40.767272,-73.993929,478,11 Ave & W 41 St,40.760301,-73.998842,32820,Subscriber,1965,1
2,819,2018-02-01 06:48:55.2290,2018-02-01 07:02:35.0290,72,W 52 St & 11 Ave,40.767272,-73.993929,405,Washington St & Gansevoort St,40.739323,-74.008119,16131,Subscriber,1968,1
3,646,2018-02-01 07:12:50.1740,2018-02-01 07:23:36.5280,72,W 52 St & 11 Ave,40.767272,-73.993929,2006,Central Park S & 6 Ave,40.765909,-73.976342,20831,Subscriber,1990,2
4,1312,2018-02-01 07:46:48.8750,2018-02-01 08:08:41.5430,72,W 52 St & 11 Ave,40.767272,-73.993929,435,W 21 St & 6 Ave,40.741740,-73.994156,15899,Subscriber,1957,1

In [18]:
tripduration2 = data2.groupby(['birth year'], as_index=False)['tripduration'].mean()
tripduration2.head()

   birth year  tripduration
0        1885    661.444444
1        1886    467.400000
2        1887    693.038462
3        1888   1016.250000
4        1889   1411.000000

In [19]:
# tripduration['02-2018'] = tripduration2['tripduration']
tripduration2.to_csv('avgtripduration.csv')

In [20]:
data3 = pd.read_csv('data/201803-citibike-tripdata.csv')

In [21]:
data3.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,816,2018-03-01 02:29:13.7270,2018-03-01 02:42:50.1460,72,W 52 St & 11 Ave,40.767272,-73.993929,379,W 31 St & 7 Ave,40.749156,-73.991600,31413,Subscriber,1973,1
1,235,2018-03-01 05:12:37.0320,2018-03-01 05:16:32.1010,72,W 52 St & 11 Ave,40.767272,-73.993929,478,11 Ave & W 41 St,40.760301,-73.998842,33202,Subscriber,1965,1
2,1250,2018-03-01 05:45:49.9000,2018-03-01 06:06:39.9080,72,W 52 St & 11 Ave,40.767272,-73.993929,3664,North Moore St & Greenwich St,40.720195,-74.010301,26675,Subscriber,1984,1
3,741,2018-03-01 06:54:19.6150,2018-03-01 07:06:40.9790,72,W 52 St & 11 Ave,40.767272,-73.993929,459,W 20 St & 11 Ave,40.746745,-74.007756,31011,Subscriber,1981,1
4,727,2018-03-01 07:08:38.8610,2018-03-01 07:20:46.8500,72,W 52 St & 11 Ave,40.767272,-73.993929,2006,Central Park S & 6 Ave,40.765909,-73.976342,30616,Subscriber,1990,2

In [22]:
tripduration3 = data3.groupby(['birth year'], as_index=False)['tripduration'].mean()
tripduration3.head()

   birth year  tripduration
0        1885    769.944444
1        1886   1680.857143
2        1887    721.885246
3        1888    320.250000
4        1890    768.500000

In [23]:
tripduration3.to_csv('avgtripduration.csv')

In [24]:
data4 = pd.read_csv('data/201804-citibike-tripdata.csv')
data4.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,840,2018-04-01 03:07:39.0700,2018-04-01 03:21:39.1280,72,W 52 St & 11 Ave,40.767272,-73.993929,379,W 31 St & 7 Ave,40.749156,-73.991600,31977,Subscriber,1973,1
1,1438,2018-04-01 07:20:02.2150,2018-04-01 07:44:00.5690,72,W 52 St & 11 Ave,40.767272,-73.993929,426,West St & Chambers St,40.717548,-74.013221,21403,Subscriber,1956,1
2,219,2018-04-01 08:11:14.4060,2018-04-01 08:14:53.7880,72,W 52 St & 11 Ave,40.767272,-73.993929,447,8 Ave & W 52 St,40.763707,-73.985162,29081,Subscriber,1974,1
3,410,2018-04-01 08:52:32.3730,2018-04-01 08:59:23.2190,72,W 52 St & 11 Ave,40.767272,-73.993929,173,Broadway & W 49 St,40.760683,-73.984527,32130,Subscriber,1983,1
4,485,2018-04-01 09:37:34.3270,2018-04-01 09:45:39.9980,72,W 52 St & 11 Ave,40.767272,-73.993929,3159,W 67 St & Broadway,40.774925,-73.982666,30055,Subscriber,1978,1

In [25]:
data5 = pd.read_csv('data/201805-citibike-tripdata.csv')
data5.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,367,2018-05-01 05:06:16.5840,2018-05-01 05:12:23.9650,72,W 52 St & 11 Ave,40.767272,-73.993929,514,12 Ave & W 40 St,40.760875,-74.002777,30567,Subscriber,1965,1
1,1313,2018-05-01 06:25:49.4250,2018-05-01 06:47:42.7120,72,W 52 St & 11 Ave,40.767272,-73.993929,426,West St & Chambers St,40.717548,-74.013221,18965,Subscriber,1956,1
2,1798,2018-05-01 06:40:26.4450,2018-05-01 07:10:25.1790,72,W 52 St & 11 Ave,40.767272,-73.993929,3435,Grand St & Elizabeth St,40.718822,-73.995960,30241,Subscriber,1959,2
3,518,2018-05-01 07:06:02.9730,2018-05-01 07:14:41.0040,72,W 52 St & 11 Ave,40.767272,-73.993929,477,W 41 St & 8 Ave,40.756405,-73.990026,28985,Subscriber,1986,1
4,109,2018-05-01 07:26:32.3450,2018-05-01 07:28:21.5420,72,W 52 St & 11 Ave,40.767272,-73.993929,530,11 Ave & W 59 St,40.771522,-73.990541,14556,Subscriber,1991,1

In [26]:
data6 = pd.read_csv('data/201806-citibike-tripdata.csv')
data6.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,569,2018-06-01 01:57:20.5140,2018-06-01 02:06:50.0880,72,W 52 St & 11 Ave,40.767272,-73.993929,173,Broadway & W 49 St,40.760683,-73.984527,21481,Subscriber,1999,1
1,480,2018-06-01 02:02:42.3980,2018-06-01 02:10:43.3540,72,W 52 St & 11 Ave,40.767272,-73.993929,477,W 41 St & 8 Ave,40.756405,-73.990026,19123,Subscriber,1988,1
2,692,2018-06-01 02:04:23.6240,2018-06-01 02:15:55.7470,72,W 52 St & 11 Ave,40.767272,-73.993929,457,Broadway & W 58 St,40.766953,-73.981693,26983,Subscriber,1986,1
3,664,2018-06-01 03:00:55.4610,2018-06-01 03:11:59.9060,72,W 52 St & 11 Ave,40.767272,-73.993929,379,W 31 St & 7 Ave,40.749156,-73.991600,26742,Subscriber,1973,1
4,818,2018-06-01 06:04:54.4270,2018-06-01 06:18:32.6170,72,W 52 St & 11 Ave,40.767272,-73.993929,459,W 20 St & 11 Ave,40.746745,-74.007756,26386,Subscriber,1984,1

In [27]:
data7 = pd.read_csv('data/201807-citibike-tripdata.csv')
data7.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,500,2018-07-01 00:33:51.2640,2018-07-01 00:42:12.0280,72,W 52 St & 11 Ave,40.767272,-73.993929,3236,W 42 St & Dyer Ave,40.758985,-73.993800,16583,Subscriber,1981,1
1,455,2018-07-01 02:06:54.0270,2018-07-01 02:14:29.0900,72,W 52 St & 11 Ave,40.767272,-73.993929,529,W 42 St & 8 Ave,40.757570,-73.990985,31481,Subscriber,1988,1
2,1080,2018-07-01 02:09:16.4640,2018-07-01 02:27:17.0290,72,W 52 St & 11 Ave,40.767272,-73.993929,453,W 22 St & 8 Ave,40.744751,-73.999154,25004,Subscriber,1982,2
3,632,2018-07-01 02:55:04.5870,2018-07-01 03:05:36.7910,72,W 52 St & 11 Ave,40.767272,-73.993929,465,Broadway & W 41 St,40.755136,-73.986580,25867,Subscriber,1986,1
4,1676,2018-07-01 03:24:27.4350,2018-07-01 03:52:23.7760,72,W 52 St & 11 Ave,40.767272,-73.993929,3425,2 Ave & E 104 St,40.789210,-73.943708,31351,Subscriber,1992,1

In [28]:
data8 = pd.read_csv('data/201808-citibike-tripdata.csv')
data8.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,681,2018-08-01 00:00:07.3210,2018-08-01 00:11:28.9920,3162.0,W 78 St & Broadway,40.783400,-73.980931,3383.0,Cathedral Pkwy & Broadway,40.804213,-73.966991,27770,Subscriber,1986,1
1,625,2018-08-01 00:00:19.7480,2018-08-01 00:10:45.0290,3260.0,Mercer St & Bleecker St,40.727064,-73.996621,2012.0,E 27 St & 1 Ave,40.739445,-73.976806,25938,Subscriber,1969,1
2,1319,2018-08-01 00:00:21.1750,2018-08-01 00:22:20.6370,403.0,E 2 St & 2 Ave,40.725029,-73.990697,285.0,Broadway & E 14 St,40.734546,-73.990741,28679,Subscriber,1970,1
3,220,2018-08-01 00:00:26.4700,2018-08-01 00:04:06.8190,3637.0,Fulton St & Waverly Ave,40.683239,-73.965996,399.0,Lafayette Ave & St James Pl,40.688515,-73.964763,28075,Subscriber,1982,1
4,398,2018-08-01 00:00:30.2910,2018-08-01 00:07:09.2810,3662.0,31 Ave & Steinway St,40.761294,-73.916917,3517.0,31 St & Hoyt Ave N,40.771153,-73.917007,25002,Subscriber,1987,1

In [29]:
data9 = pd.read_csv('data/201809-citibike-tripdata.csv')
data9.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,1635,2018-09-01 00:00:05.2690,2018-09-01 00:27:20.6340,252.0,MacDougal St & Washington Sq,40.732264,-73.998522,366.0,Clinton Ave & Myrtle Ave,40.693261,-73.968896,25577,Subscriber,1980,1
1,132,2018-09-01 00:00:11.2810,2018-09-01 00:02:23.4810,314.0,Cadman Plaza West & Montague St,40.693830,-73.990539,3242.0,Schermerhorn St & Court St,40.691029,-73.991834,34377,Subscriber,1969,0
2,3337,2018-09-01 00:00:20.6490,2018-09-01 00:55:58.5470,3142.0,1 Ave & E 62 St,40.761227,-73.960940,3384.0,Smith St & 3 St,40.678724,-73.995991,30496,Subscriber,1975,1
3,436,2018-09-01 00:00:21.7460,2018-09-01 00:07:38.5830,308.0,St James Pl & Oliver St,40.713079,-73.998512,3690.0,Park Pl & Church St,40.713342,-74.009355,28866,Subscriber,1984,2
4,8457,2018-09-01 00:00:27.3150,2018-09-01 02:21:25.3080,345.0,W 13 St & 6 Ave,40.736494,-73.997044,380.0,W 4 St & 7 Ave S,40.734011,-74.002939,20943,Customer,1994,1

In [30]:
data10 = pd.read_csv('data/201810-citibike-tripdata.csv')
data10.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,330,2018-10-01 00:00:00.7010,2018-10-01 00:05:30.8490,293.0,Lafayette St & E 8 St,40.730207,-73.991026,504.0,1 Ave & E 16 St,40.732219,-73.981656,30493,Subscriber,1995,1
1,309,2018-10-01 00:00:13.5780,2018-10-01 00:05:23.2310,433.0,old - E 13 St & Avenue A,40.729554,-73.980572,394.0,E 9 St & Avenue C,40.725213,-73.977688,33054,Subscriber,1967,1
2,734,2018-10-01 00:00:16.6040,2018-10-01 00:12:31.5050,3472.0,W 15 St & 10 Ave,40.742754,-74.007474,285.0,Broadway & E 14 St,40.734546,-73.990741,33400,Subscriber,1983,2
3,788,2018-10-01 00:00:35.0670,2018-10-01 00:13:43.5780,417.0,Barclay St & Church St,40.712912,-74.010202,3472.0,W 15 St & 10 Ave,40.742754,-74.007474,31140,Customer,1988,1
4,1136,2018-10-01 00:00:38.1410,2018-10-01 00:19:34.6490,3699.0,W 50 St & 9 Ave,40.763605,-73.989180,495.0,W 47 St & 10 Ave,40.762699,-73.993012,20294,Subscriber,1969,0

In [31]:
data11 = pd.read_csv('data/201811-citibike-tripdata.csv')
data11.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,254,2018-11-01 00:00:12.9100,2018-11-01 00:04:27.3870,3522.0,37 St & 24 Ave,40.770148,-73.912094,3513.0,21 St & Hoyt Ave S,40.774645,-73.923706,34117,Subscriber,1992,1
1,833,2018-11-01 00:00:16.3440,2018-11-01 00:14:09.4320,252.0,MacDougal St & Washington Sq,40.732264,-73.998522,251.0,Mott St & Prince St,40.723180,-73.994800,32569,Subscriber,1986,2
2,683,2018-11-01 00:00:17.6630,2018-11-01 00:11:40.9170,3405.0,5 St & 6 Ave,40.670484,-73.982090,3584.0,Eastern Pkwy & Franklin Ave,40.670777,-73.957680,15795,Subscriber,1985,1
3,1840,2018-11-01 00:00:18.7970,2018-11-01 00:30:59.3050,3150.0,E 85 St & York Ave,40.775369,-73.948034,297.0,E 15 St & 3 Ave,40.734232,-73.986923,33290,Subscriber,1994,1
4,1212,2018-11-01 00:00:47.3230,2018-11-01 00:20:59.8840,325.0,E 19 St & 3 Ave,40.736245,-73.984738,212.0,W 16 St & The High Line,40.743349,-74.006818,17411,Subscriber,1989,1

In [32]:
data12 = pd.read_csv('data/201812-citibike-tripdata.csv')
data12.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,689,2018-12-01 00:00:04.3020,2018-12-01 00:11:33.8460,3359.0,E 68 St & Madison Ave,40.769157,-73.967035,164.0,E 47 St & 2 Ave,40.753231,-73.970325,35033,Subscriber,1989,1
1,204,2018-12-01 00:00:05.5330,2018-12-01 00:03:30.5230,3504.0,E 123 St & Lexington Ave,40.802926,-73.937900,3490.0,E 116 St & 2 Ave,40.796879,-73.937261,20501,Subscriber,1966,1
2,316,2018-12-01 00:00:10.2330,2018-12-01 00:05:27.2030,270.0,Adelphi St & Myrtle Ave,40.693083,-73.971789,243.0,Fulton St & Rockwell Pl,40.688226,-73.979382,18386,Subscriber,1984,1
3,726,2018-12-01 00:00:21.9570,2018-12-01 00:12:28.1830,495.0,W 47 St & 10 Ave,40.762699,-73.993012,3660.0,W 16 St & 8 Ave,40.741022,-74.001385,27616,Subscriber,1983,1
4,397,2018-12-01 00:00:29.6320,2018-12-01 00:07:07.4460,473.0,Rivington St & Chrystie St,40.721101,-73.991925,3467.0,W Broadway & Spring Street,40.724947,-74.001659,35096,Subscriber,1976,1

In [33]:
data13 = pd.read_csv('data/201901-citibike-tripdata.csv')
data13.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,320,2019-01-01 00:01:47.4010,2019-01-01 00:07:07.5810,3160.0,Central Park West & W 76 St,40.778968,-73.973747,3283.0,W 89 St & Columbus Ave,40.788221,-73.970416,15839,Subscriber,1971,1
1,316,2019-01-01 00:04:43.7360,2019-01-01 00:10:00.6080,519.0,Pershing Square North,40.751873,-73.977706,518.0,E 39 St & 2 Ave,40.747804,-73.973442,32723,Subscriber,1964,1
2,591,2019-01-01 00:06:03.9970,2019-01-01 00:15:55.4380,3171.0,Amsterdam Ave & W 82 St,40.785247,-73.976673,3154.0,E 77 St & 3 Ave,40.773142,-73.958562,27451,Subscriber,1987,1
3,2719,2019-01-01 00:07:03.5450,2019-01-01 00:52:22.6500,504.0,1 Ave & E 16 St,40.732219,-73.981656,3709.0,W 15 St & 6 Ave,40.738046,-73.996430,21579,Subscriber,1990,1
4,303,2019-01-01 00:07:35.9450,2019-01-01 00:12:39.5020,229.0,Great Jones St,40.727434,-73.993790,503.0,E 20 St & Park Ave,40.738274,-73.987520,35379,Subscriber,1979,1

In [34]:
data14 = pd.read_csv('data/201902-citibike-tripdata.csv')
data14.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,219,2019-02-01 00:00:06.2570,2019-02-01 00:03:46.1090,3494.0,E 115 St & Lexington Ave,40.797911,-73.942300,3501.0,E 118 St & Madison Ave,40.801487,-73.944251,33450,Subscriber,1989,1
1,143,2019-02-01 00:00:28.0320,2019-02-01 00:02:51.7460,438.0,St Marks Pl & 1 Ave,40.727791,-73.985649,236.0,St Marks Pl & 2 Ave,40.728419,-73.987140,25626,Subscriber,1990,1
2,296,2019-02-01 00:01:13.9870,2019-02-01 00:06:10.7340,3571.0,Bedford Ave & Bergen St,40.676368,-73.952918,3549.0,Grand Ave & Bergen St,40.678045,-73.962408,35568,Subscriber,1987,1
3,478,2019-02-01 00:01:14.1520,2019-02-01 00:09:12.7870,167.0,E 39 St & 3 Ave,40.748901,-73.976049,477.0,W 41 St & 8 Ave,40.756405,-73.990026,25045,Subscriber,1964,2
4,225,2019-02-01 00:01:49.3410,2019-02-01 00:05:34.4980,3458.0,W 55 St & 6 Ave,40.763094,-73.978350,3443.0,W 52 St & 6 Ave,40.761330,-73.979820,34006,Subscriber,1979,1

In [35]:
data15 = pd.read_csv('data/201903-citibike-tripdata.csv')
data15.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,1463,2019-03-01 00:00:16.0970,2019-03-01 00:24:39.3880,319.0,Fulton St & Broadway,40.711066,-74.009447,347.0,Greenwich St & W Houston St,40.728846,-74.008591,35618,Subscriber,1989,1
1,285,2019-03-01 00:00:32.3850,2019-03-01 00:05:18.1830,439.0,E 4 St & 2 Ave,40.726281,-73.989780,150.0,E 2 St & Avenue C,40.720874,-73.980858,31113,Subscriber,1980,1
2,686,2019-03-01 00:00:47.7970,2019-03-01 00:12:14.3090,526.0,E 33 St & 5 Ave,40.747659,-73.984907,3474.0,6 Ave & Spring St,40.725256,-74.004121,19617,Subscriber,1987,1
3,442,2019-03-01 00:01:01.2090,2019-03-01 00:08:23.7510,3474.0,6 Ave & Spring St,40.725256,-74.004121,355.0,Bayard St & Baxter St,40.716021,-73.999744,27086,Subscriber,1987,2
4,2913,2019-03-01 00:01:09.2810,2019-03-01 00:49:42.3810,379.0,W 31 St & 7 Ave,40.749156,-73.991600,212.0,W 16 St & The High Line,40.743349,-74.006818,34791,Subscriber,1991,1

In [40]:
citibike_2018_2019 = pd.concat([data10, data11, data12, data13, data14, data15])
citibike_2018_2019

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,330,2018-10-01 00:00:00.7010,2018-10-01 00:05:30.8490,293.0,Lafayette St & E 8 St,40.730207,-73.991026,504.0,1 Ave & E 16 St,40.732219,-73.981656,30493,Subscriber,1995,1
1,309,2018-10-01 00:00:13.5780,2018-10-01 00:05:23.2310,433.0,old - E 13 St & Avenue A,40.729554,-73.980572,394.0,E 9 St & Avenue C,40.725213,-73.977688,33054,Subscriber,1967,1
2,734,2018-10-01 00:00:16.6040,2018-10-01 00:12:31.5050,3472.0,W 15 St & 10 Ave,40.742754,-74.007474,285.0,Broadway & E 14 St,40.734546,-73.990741,33400,Subscriber,1983,2
3,788,2018-10-01 00:00:35.0670,2018-10-01 00:13:43.5780,417.0,Barclay St & Church St,40.712912,-74.010202,3472.0,W 15 St & 10 Ave,40.742754,-74.007474,31140,Customer,1988,1
4,1136,2018-10-01 00:00:38.1410,2018-10-01 00:19:34.6490,3699.0,W 50 St & 9 Ave,40.763605,-73.989180,495.0,W 47 St & 10 Ave,40.762699,-73.993012,20294,Subscriber,1969,0
5,623,2018-10-01 00:00:39.0770,2018-10-01 00:11:02.7910,3092.0,Berry St & N 8 St,40.719009,-73.958525,3116.0,Huron St & Franklin St,40.732660,-73.958260,17904,Customer,1983,1
6,498,2018-10-01 00:00:45.6350,2018-10-01 00:09:04.4050,2009.0,Catherine St & Monroe St,40.711174,-73.996826,316.0,Fulton St & William St,40.709560,-74.006536,26719,Subscriber,1992,2
7,103,2018-10-01 00:00:49.1740,2018-10-01 00:02:32.5410,3309.0,E 97 St & 3 Ave,40.785920,-73.948603,3327.0,3 Ave & E 100 St,40.787721,-73.947283,21304,Subscriber,1983,1
8,484,2018-10-01 00:00:55.9960,2018-10-01 00:09:00.5120,2009.0,Catherine St & Monroe St,40.711174,-73.996826,316.0,Fulton St & William St,40.709560,-74.006536,16296,Subscriber,1995,1
9,252,2018-10-01 00:01:01.8550,2018-10-01 00:05:14.6200,3356.0,Amsterdam Ave & W 66 St,40.774667,-73.984706,3164.0,Columbus Ave & W 72 St,40.777057,-73.978985,17174,Subscriber,1973,1
10,583,2018-10-01 00:01:03.0260,2018-10-01 00:10:46.1460,531.0,Forsyth St & Broome St,40.718939,-73.992663,3260.0,Mercer St & Bleecker St,40.727064,-73.996621,26832,Subscriber,1969,1
11,1099,2018-10-01 00:01:06.8940,2018-10-01 00:19:26.7230,3663.0,Sterling Pl & 7 Ave,40.677165,-73.973828,3661.0,Montgomery St & Franklin Ave,40.666439,-73.960556,34098,Customer,1989,2
12,389,2018-10-01 00:01:10.0780,2018-10-01 00:07:39.8720,3472.0,W 15 St & 10 Ave,40.742754,-74.007474,358.0,Christopher St & Greenwich St,40.732916,-74.007114,33878,Subscriber,1978,2
13,164,2018-10-01 00:01:09.2910,2018-10-01 00:03:54.2170,3507.0,Park Ave & E 124 St,40.804555,-73.939686,3518.0,Lenox Ave & W 126 St,40.808442,-73.945209,32740,Subscriber,1996,1
14,405,2018-10-01 00:01:09.1020,2018-10-01 00:07:55.0120,3357.0,W 106 St & Amsterdam Ave,40.800836,-73.966449,3623.0,W 120 St & Claremont Ave,40.810949,-73.963400,21128,Subscriber,1984,1
15,423,2018-10-01 00:01:17.3880,2018-10-01 00:08:20.6440,539.0,Metropolitan Ave & Bedford Ave,40.715348,-73.960241,3108.0,Nassau Ave & Russell St,40.725570,-73.944340,31384,Subscriber,1991,1
16,511,2018-10-01 00:01:29.3460,2018-10-01 00:10:00.5280,492.0,W 33 St & 7 Ave,40.750200,-73.990931,3658.0,W 18 St & 9 Ave,40.743534,-74.003676,32672,Subscriber,1978,1
17,660,2018-10-01 00:01:31.8640,2018-10-01 00:12:32.6330,3472.0,W 15 St & 10 Ave,40.742754,-74.007474,285.0,Broadway & E 14 St,40.734546,-73.990741,33748,Subscriber,1979,1
18,235,2018-10-01 00:01:49.9670,2018-10-01 00:05:45.7250,3701.0,Cliff St & Fulton St,40.708318,-74.005041,279.0,Peck Slip & Front St,40.707873,-74.001670,28313,Subscriber,1982,1
19,1312,2018-10-01 00:01:53.8260,2018-10-01 00:23:46.4980,3159.0,W 67 St & Broadway,40.774925,-73.982666,3263.0,Cooper Square & Astor Pl,40.729515,-73.990753,34795,Subscriber,1981,1
20,1497,2018-10-01 00:01:58.5940,2018-10-01 00:26:55.9130,3454.0,Leonard St & Maujer St,40.710369,-73.947060,3077.0,Stagg St & Union Ave,40.708771,-73.950953,33441,Subscriber,1977,1
21,1457,2018-10-01 00:01:11.4200,2018-10-01 00:25:28.9670,3136.0,5 Ave & E 63 St,40.766368,-73.971518,480.0,W 53 St & 10 Ave,40.766697,-73.990617,32056,Subscriber,1975,1
22,1193,2018-10-01 00:02:07.9680,2018-10-01 00:22:01.1100,447.0,8 Ave & W 52 St,40.763707,-73.985162,438.0,St Marks Pl & 1 Ave,40.727791,-73.985649,31339,Subscriber,1983,2
23,1002,2018-10-01 00:02:08.7720,2018-10-01 00:18:51.1000,3663.0,Sterling Pl & 7 Ave,40.677165,-73.973828,3661.0,Montgomery St & Franklin Ave,40.666439,-73.960556,16233,Subscriber,1994,1
24,192,2018-10-01 00:02:33.1830,2018-10-01 00:05:45.2330,347.0,Greenwich St & W Houston St,40.728846,-74.008591,128.0,MacDougal St & Prince St,40.727103,-74.002971,28290,Subscriber,1991,1
25,887,2018-10-01 00:02:38.0240,2018-10-01 00:17:25.5450,490.0,8 Ave & W 33 St,40.751551,-73.993934,72.0,W 52 St & 11 Ave,40.767272,-73.993929,34125,Subscriber,1956,2
26,326,2018-10-01 00:02:47.9800,2018-10-01 00:08:14.1410,3491.0,E 118 St & 1 Ave,40.797470,-73.935040,3400.0,E 110 St & Madison Ave,40.796153,-73.947821,33833,Customer,1995,1
27,460,2018-10-01 00:03:10.0700,2018-10-01 00:10:51.0010,490.0,8 Ave & W 33 St,40.751551,-73.993934,450.0,W 49 St & 8 Ave,40.762272,-73.987882,34053,Subscriber,1990,0
28,1374,2018-10-01 00:03:13.8730,2018-10-01 00:26:07.9860,3159.0,W 67 St & Broadway,40.774925,-73.982666,403.0,E 2 St & 2 Ave,40.725029,-73.990697,20233,Subscriber,1979,1
29,148,2018-10-01 00:03:16.2260,2018-10-01 00:05:44.7710,3002.0,South End Ave & Liberty St,40.711512,-74.015756,363.0,West Thames St,40.708347,-74.017134,16050,Subscriber,1992,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1327930,950,2019-03-31 23:56:07.7380,2019-04-01 00:11:57.9570,3233.0,E 48 St & 5 Ave,40.757246,-73.978059,504.0,1 Ave & E 16 St,40.732219,-73.981656,32925,Subscriber,1989,1
1327931,684,2019-03-31 23:56:35.4960,2019-04-01 00:08:00.0740,3108.0,Nassau Ave & Russell St,40.725570,-73.944340,539.0,Metropolitan Ave & Bedford Ave,40.715348,-73.960241,35734,Subscriber,1993,1
1327932,151,2019-03-31 23:56:41.3240,2019-03-31 23:59:12.8970,296.0,Division St & Bowery,40.714131,-73.997047,331.0,Pike St & Monroe St,40.711731,-73.991930,36391,Subscriber,1985,1
1327933,247,2019-03-31 23:56:58.3250,2019-04-01 00:01:05.5150,243.0,Fulton St & Rockwell Pl,40.688226,-73.979382,262.0,Washington Park,40.691782,-73.973730,36987,Subscriber,1965,1
1327934,124,2019-03-31 23:57:22.2210,2019-03-31 23:59:26.3770,435.0,W 21 St & 6 Ave,40.741740,-73.994156,334.0,W 20 St & 7 Ave,40.742388,-73.997262,17317,Subscriber,1964,1
1327935,336,2019-03-31 23:57:26.6150,2019-04-01 00:03:02.7830,402.0,Broadway & E 22 St,40.740343,-73.989551,498.0,Broadway & W 32 St,40.748549,-73.988084,18863,Subscriber,1987,1
1327936,1106,2019-03-31 23:57:37.2380,2019-04-01 00:16:03.9490,3141.0,1 Ave & E 68 St,40.765005,-73.958185,478.0,11 Ave & W 41 St,40.760301,-73.998842,36669,Subscriber,1989,1
1327937,1193,2019-03-31 23:57:50.8940,2019-04-01 00:17:44.2130,249.0,Harrison St & Hudson St,40.718710,-74.009001,3113.0,Greenpoint Ave & Manhattan Ave,40.730260,-73.953940,36720,Subscriber,1991,1
1327938,230,2019-03-31 23:58:23.9160,2019-04-01 00:02:14.1650,146.0,Hudson St & Reade St,40.716250,-74.009106,377.0,6 Ave & Canal St,40.722438,-74.005664,37779,Subscriber,1961,1
1327939,1994,2019-03-31 23:58:29.6790,2019-04-01 00:31:44.0650,276.0,Duane St & Greenwich St,40.717488,-74.010455,3256.0,Pier 40 - Hudson River Park,40.727714,-74.011296,36837,Subscriber,1978,1
1327940,411,2019-03-31 23:58:36.5590,2019-04-01 00:05:28.3140,326.0,E 11 St & 1 Ave,40.729538,-73.984267,531.0,Forsyth St & Broome St,40.718939,-73.992663,34690,Subscriber,1980,1
1327941,1653,2019-03-31 23:58:44.5950,2019-04-01 00:26:17.7800,2022.0,E 60 St & York Ave,40.759107,-73.959223,3443.0,W 52 St & 6 Ave,40.761330,-73.979820,25867,Customer,1969,0
1327942,431,2019-03-31 23:58:43.8380,2019-04-01 00:05:54.9350,236.0,St Marks Pl & 2 Ave,40.728419,-73.987140,383.0,Greenwich Ave & Charles St,40.735238,-74.000271,25770,Subscriber,1979,1
1327943,1641,2019-03-31 23:58:44.6790,2019-04-01 00:26:05.8620,2022.0,E 60 St & York Ave,40.759107,-73.959223,3443.0,W 52 St & 6 Ave,40.761330,-73.979820,35594,Customer,1969,0
1327944,1195,2019-03-31 23:58:46.3060,2019-04-01 00:18:41.7670,223.0,W 13 St & 7 Ave,40.737815,-73.999947,477.0,W 41 St & 8 Ave,40.756405,-73.990026,26128,Subscriber,1985,1
1327945,291,2019-03-31 23:58:49.6750,2019-04-01 00:03:41.3030,335.0,Washington Pl & Broadway,40.729039,-73.994046,257.0,Lispenard St & Broadway,40.719392,-74.002472,14914,Subscriber,1997,1
1327946,1719,2019-03-31 23:58:50.3400,2019-04-01 00:27:29.9310,2022.0,E 60 St & York Ave,40.759107,-73.959223,3443.0,W 52 St & 6 Ave,40.761330,-73.979820,15320,Customer,1969,0
1327947,434,2019-03-31 23:58:58.9450,2019-04-01 00:06:13.1240,418.0,Front St & Gold St,40.702240,-73.982578,216.0,Columbia Heights & Cranberry St,40.700379,-73.995481,37675,Subscriber,1989,1
1327948,299,2019-03-31 23:59:03.3650,2019-04-01 00:04:02.8610,307.0,Canal St & Rutgers St,40.714275,-73.989900,307.0,Canal St & Rutgers St,40.714275,-73.989900,37865,Subscriber,1975,1
1327949,132,2019-03-31 23:59:12.7640,2019-04-01 00:01:25.4250,3244.0,University Pl & E 8 St,40.731437,-73.994903,382.0,University Pl & E 14 St,40.734927,-73.992005,21118,Subscriber,1985,1
1327950,1705,2019-03-31 23:59:11.2210,2019-04-01 00:27:36.9200,2022.0,E 60 St & York Ave,40.759107,-73.959223,3443.0,W 52 St & 6 Ave,40.761330,-73.979820,30785,Customer,1969,0
1327951,434,2019-03-31 23:59:08.7170,2019-04-01 00:06:22.9890,418.0,Front St & Gold St,40.702240,-73.982578,216.0,Columbia Heights & Cranberry St,40.700379,-73.995481,35262,Subscriber,1974,1
1327952,261,2019-03-31 23:59:29.4890,2019-04-01 00:03:51.4150,389.0,Broadway & Berry St,40.710446,-73.965251,389.0,Broadway & Berry St,40.710446,-73.965251,30683,Subscriber,1988,1
1327953,1388,2019-03-31 23:59:29.4260,2019-04-01 00:22:37.6820,316.0,Fulton St & William St,40.709560,-74.006536,3585.0,Union St & Bedford Ave,40.669178,-73.955416,37876,Subscriber,1997,1
1327954,284,2019-03-31 23:59:30.0380,2019-04-01 00:04:14.2820,144.0,Nassau St & Navy St,40.698399,-73.980689,321.0,Cadman Plaza E & Red Cross Pl,40.699918,-73.989718,36025,Subscriber,1990,1
1327955,351,2019-03-31 23:59:30.5850,2019-04-01 00:05:21.7850,3747.0,E 84 St & 3 Ave,40.777554,-73.955128,3351.0,E 102 St & 1 Ave,40.786995,-73.941648,37290,Subscriber,1985,1
1327956,1943,2019-03-31 23:59:55.3410,2019-04-01 00:32:18.6920,450.0,W 49 St & 8 Ave,40.762272,-73.987882,515.0,W 43 St & 10 Ave,40.760094,-73.994618,34220,Subscriber,1987,1
1327957,515,2019-03-31 23:59:50.1810,2019-04-01 00:08:25.8330,3542.0,Amsterdam Ave & W 119 St,40.808625,-73.959621,3543.0,Morningside Dr & Amsterdam Ave,40.810285,-73.957365,37863,Subscriber,1988,1
1327958,660,2019-03-31 23:59:56.6520,2019-04-01 00:10:57.3760,3434.0,W 88 St & West End Ave,40.790254,-73.977183,3538.0,W 110 St & Amsterdam Ave,40.802692,-73.962950,36103,Subscriber,1987,1
1327959,132,2019-03-31 23:59:58.0230,2019-04-01 00:02:10.5920,393.0,E 5 St & Avenue C,40.722992,-73.979955,432.0,E 7 St & Avenue A,40.726218,-73.983799,35621,Subscriber,1973,1

In [41]:
citibike_2018_2019.to_csv('citibike_2018_2019.csv', sep = ',')